<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center text-white">
                <h2>Dashboard:</h2>
                <section id="create-new-post">
                    <h4>Create a new post!</h4>
                    <form class="new-post-form">
                        <div>
                            <label for="post-title">title</label>
                            <input type="text" id="post-title" name="post-title" />
                        </div>
                        <div>
                            <label for="post-content">post</label>
                            <textarea id="post-content" class="new-post-content" name="post-content"></textarea>
                        </div>
                        <label for="myfile">Select Images:</label>
                        <input type="file" id="myfile" name="myfile" multiple><br><br>
                        <button type="submit" class="btn">create</button>
                    </form>
                </section>
                {{#if posts.length}}
                <section>
                    <h2>Your posts</h2>
                    <ul class="post-list">
                        {{#each posts as |post|}}
                        <li>
                            {{> post-info post}}
                            <a href="/dashboard/edit/{{post.id}}" class="edit-link text-white">edit/delete post</a>
                        </li>
                        {{/each}}
                    </ul>
                </section>
                {{/if}}
            </div>
        </div>
    </div>
</header>
   
<script src="/javascript/add-post.js"></script>