<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center text-white">
            <form class="login-form">
              <div>
                <label for="username-login">Username:</label>
                <input type="text" id="username-login" />
              </div>
              <div>
                <label for="password-login">Password:</label>
                <input type="password" id="password-login" />
              </div>
              <div>
                <button type="submit">login</button><br><br>
                <a href="/signup">Are you a new user? sign up here!</a>
              </div>
            </form>
            </div>
        </div>
      </div>
</header>      

<script src="/javascript/login.js"></script>